<section class="header header-fixed-xl">
    <div class="header-top-line ">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand navbar-dark navbar-short justify-content-between w-100">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link text-white" data-toggle="smooth-scroll" href="#devis">
                                <span class="text-uppercase">Demander un devis</span>
                            </a>
                        </li>

                    </ul>

                    <span class="navbar-text text-uppercase d-flex align-items-center">
                                <span class="text-white-70 mr-1">Nous contacter:</span>
                                <span class="text-white mr-1">06 36 22 15 29</span>
                                <i class="material-icons fs-1">phone</i>


                                <span class="text-white mr-1 d-none d-md-inline-block">  &nbsp; - &nbsp; 360shootparis@gmail.com</span>
                                <i class="material-icons fs-1 d-none d-md-inline-block">email</i>
                    </span>
                </nav>
            </div>
        </div>
    </div>
    <div class="header-main bg-white">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light w-100" id="header-navbar">
                    <a class="navbar-brand font-weight-bold" href="#page-start-anchor" data-toggle="smooth-scroll">
                        <img src="{{ asset('assets/logo/logo texte.png') }}" width="260" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto ">
                            <li class="nav-item">
                                <a class="nav-link text-uppercase active " data-toggle="smooth-scroll"
                                   href="#qui-sommes-nous">Qui sommes nous ?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase " data-toggle="smooth-scroll" href="#services">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase " data-toggle="smooth-scroll" href="#avis">Avis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" data-toggle="smooth-scroll" href="#notre-travail">Notre
                                    travail</a>
                            </li>
                            <li class="nav-item"><a class="nav-link text-uppercase" data-toggle="smooth-scroll"
                                                    href="#faq">FAQ</a>
                            </li>
                            <li class="nav-item"><a class="nav-link text-uppercase" data-toggle="smooth-scroll"
                                                    href="#nos-formations">Formations</a>
                            </li>
                            <li class="nav-item"><a class="nav-link text-uppercase" data-toggle="smooth-scroll"
                                                    href="#devis">Devis</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>

